html {
  user-select:none !important;
}
body {
  background-color: #000000 !important;
  font-family: Muli !important;
  height: 0 !important;
}
.App {
  padding: 0 3vw;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.isDead {
  opacity:0.4;
}

.start-page {
  height: 40vh;
  font-size: 30px;
  line-height: 70vh;
  text-align: center;
  color: #cccccc;
}

.Content {
  padding: 0 15px;
  margin-top: 15px;
  min-height: 75vh;
  background: #303030;
}

.detail {
  border-radius: 30px !important;
}
